<div id="<%= dom_id staff %>">
  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= staff.position %>
  </p>

  <p>
    <strong>Storageid:</strong>
    <%= staff.storageid %>
  </p>

</div>
