<div id="<%= dom_id shipping_manage %>">
  <p>
    <strong>Shippingid:</strong>
    <%= shipping_manage.shippingid %>
  </p>

  <p>
    <strong>Productid:</strong>
    <%= shipping_manage.productid %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= shipping_manage.quantity %>
  </p>

</div>
