<h1>Editing shipping manage</h1>

<%= render "form", shipping_manage: @shipping_manage %>

<br>

<div>
  <%= link_to "Show this shipping manage", @shipping_manage %> |
  <%= link_to "Back to shipping manages", shipping_manages_path %>
</div>
