<div id="<%= dom_id storage_manage %>">
  <p>
    <strong>Storageid:</strong>
    <%= storage_manage.storageid %>
  </p>

  <p>
    <strong>Productid:</strong>
    <%= storage_manage.productid %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= storage_manage.quantity %>
  </p>

</div>
