<h1>Editing authorized shop</h1>

<%= render "form", authorized_shop: @authorized_shop %>

<br>

<div>
  <%= link_to "Show this authorized shop", @authorized_shop %> |
  <%= link_to "Back to authorized shops", authorized_shops_path %>
</div>
